.body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: #fff;
}
body {
    background-color: #333;
}
form{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin: 20px 0;
}
label{
  font-size: 20px;
  font-weight: bold;
}
input{
  padding: 10px;
  border: none;
  border-radius: 5px;
  font-size: 18px;  
}
input:focus{
  outline: none;
}
button{
  padding: 10px;
  border: none;
  border-radius: 5px;
  background-color: #4CAF50;
  color: black;
  font-size: 18px;
  transition: all 0.3s ease-in;
}
button:hover{
  cursor: pointer;
  background-color: #10a715;
}
button:active{
  transform: scale(0.95);
}

ul{
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
li{
  font-size: 20px;
  margin: 10px 0;
}
li span{
    margin-left: 10px;
}
li input[type="checkbox"]{
    border: none;
    cursor: pointer;
    width: 16px;
    height: 16px;
    border-radius: 5px;
}
li button{
    padding: 5px 5px;
    border: none;
    border-radius: 5px;
    background-color: #4CAF50;
    color: black;
    font-size: 18px;
    margin-left: 10px;
}